/* Import Light Lato font */

@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

/* Link to go back home */

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color:black;
}

.subTitle {
	font-weight: 100;
}

h2 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
}

.header {
	border: none;
	position: sticky;
	top: 0px;
	background-color: white;
	z-index: 1;
	/*border-bottom: 1px solid #C1C4C7;*/
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
}

.head2 {
	background-color: black;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;
}

.filterBar{
	height: 200px;
	background-color: red;
}

/* Creating the styles for the cards */

#cardHolder{
	height: 100%;
	width: 100%;
	position: relative;
}
.cardFull {
	position: absolute;
	border: 1px solid #C1C4C7;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
	height: 250px;
	width: 200px;
}
.cardFull:hover {
	cursor: pointer;
}

.cardPicture{
	padding: 10px;
	height: 50%;
}
