/* Link to go back home */

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color:black;
}

.subTitle {
	font-weight: 100;
	cursor: default;
}

h2 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	cursor: default;
}

.head2 {
	background-color: black;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;
}

.filterBar {
	margin: 15px 10px 5px 10px;
	padding-bottom: 15px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-bottom-width: 1px;
	color: #666666;
	font-size: 16px;
	font-weight: 300;
}

/* Creating the styles for the cards */

#cardHolder {
	height: 100%;
	max-width: 100%;
	position: relative;
	display: table;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 110px
}

.row {
	display: table-row;
}

.cardFull {
	display: table-cell;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

.cardTable {
	background-color: #f2f2f2;
	display: table;
	padding: 40px 10px 10px 10px;
}

.cardTable:hover {
	cursor: pointer;
	background-color: #E2E2E2;
}

.cardPicture {
	display: table-row;
}

.subCardPicture {
	text-align: center;
}

.cardPictureImg {
	width:50%;
	margin: auto;
	margin-bottom: 30px;
	border: solid #E2E2E2;
	border-width: 1px;
}

.cardInfo {
	display: table-row;
	text-align: center;
}

.subCardInfo {
	padding-bottom: 30px;
}

.teacherName {
	font-weight: 400;
	font-size: 22px;
	padding-bottom: 10px;
}

.studentName {
	font-weight: 300;
	color: #666666;
	font-size: 16px;
}

/*.cardFull {
	position: absolute;
	border: 1px solid #C1C4C7;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
	height: 250px;
	width: 200px;
}
.cardFull:hover {
	cursor: pointer;
}

.cardPicture{
	padding: 10px;
	height: 50%;
}
*/