/* Link to go back home */

.header_h1:link {
	text-decoration: none;
	color: black;
}

.header_h1:visited {
	color:black;
}

.subTitle {
	font-weight: 100;
	cursor: default;
}

h2 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	cursor: default;
}

.head2 {
	background-color: black;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;
}

.filtHead {
	margin-bottom: 10px;
	font-weight: 700;
}

.filterBar {
	margin: 15px 10px 5px 15px;
	padding-bottom: 15px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-bottom-width: 1px;
	position: relative;
}

#filtBar{
	color: #666666;
	font-size: 16px;
	font-weight: 300;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-columns: 175px 175px;
}
/* Creating the styles for the cards */

#cardHolder {
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;

	height: 100%;
	max-width: 100%;
	position: relative;

	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 115px;
}

@media (min-width: 1000px) {
	#cardHolder {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 700px) and (max-width: 999px) {
	#cardHolder {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 500px) and (max-width: 699px) {
	#cardHolder {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 499px) {
	#cardHolder {
		grid-template-columns: auto;
	}
}

.cardTable {
	background-color: #f2f2f2;
	display: table;
	padding: 40px 10px 10px 10px;
}

.cardTable:hover {
	cursor: pointer;
	background-color: #E2E2E2;
}

.cardPicture {
	display: table-row;
}

.subCardPicture {
	text-align: center;
}

.cardPictureImg {
	width:50%;
	margin: auto;
	margin-bottom: 30px;
	border: solid #E2E2E2;
	border-width: 1px;
}

.cardInfo {
	display: table-row;
	text-align: center;
}

.subCardInfo {
	padding-bottom: 30px;
}

.teacherName {
	font-weight: 400;
	font-size: 22px;
	padding-bottom: 10px;
}

.studentName {
	font-weight: 300;
	color: #666666;
	font-size: 16px;
}
