.subTitle {
	font-weight: 100;
	cursor: default;
}

.cardPictureImg {
	width:100%;
	margin: 30px;
	/*border: solid #E2E2E2;
	border-width: 20px;*/
}

.content {
	padding: 20px;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-columns: 1fr 1fr;
}

.content_h1 {
	font-size: 50px;
	font-weight: 600;
}