a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color:black;
}

.subTitle {
	font-weight: 100;
}

.head2 {
	background-color: black;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;
}

h2 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
}

h3 {
	margin-top: 30px;
	font-size: 30px;
	margin-bottom: 10px;

}

<<<<<<< HEAD
=======
.shareHead{
	text-align: center;
	line-height: 15px;
	font-size: 20px;
	padding-bottom: 20px;
}

>>>>>>> parent of ebcf847... mostly done
.shareBody {
	margin: 20px;
}

.inputDiv{
	position: relative;
	width: inherit;
}

.inputHolder{
	width: 200px;
	margin: 0 auto;
	padding-bottom: 50px;
	display: none;
<<<<<<< HEAD
=======
	line-height: 30px;
>>>>>>> parent of ebcf847... mostly done
}

.shareInput{
	width: inherit;
	height: 40px;
	/* add border styles and such*/
}

.shareDrop{
	display: none;
	text
}

.shareDrop p{
	display: block;
}

.shareDrop p:hover{
	background-color: red;
}

.xBut{
	display: none;
	position:absolute;
	right: 10px;
	z-index: 1;
<<<<<<< HEAD
=======
	top: 6px;
>>>>>>> parent of ebcf847... mostly done
}

.fileUpload{

}

input[type="file"] {
    display: none;
}
.uploadStyle {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
