a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color:black;
}

/* Cards */
.card.mdl-card {
  width: 320px;
  height: 320px;
}
.card > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
