/* Import Light Lato font */

@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

/* Link to go back home */

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color:black;
}

.subTitle {
	font-weight: 100;
}

h2 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
}

.header {
	border: none;
}

.head2 {
	background-color: black;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;
}