a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color:black;
}

/* Cards */
.card.mdl-card {
	width: 320px;
	height: 320px;
}
.card > .mdl-card__title {
	background: url('../../photos/note_screenshot.jpg') top right 50% no-repeat white;
	background-size: 320px;
}
