<!DOCTYPE html>
<html>
<head>
	<title>{{course}}</title>
	<link rel = "stylesheet" type = "text/css" href = "../static/css/class.css">
	<link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
	<script type="text/javascript" src="../static/js/cards.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="indexPageSize">
		<div class = "header_class">
			<h1><a href = "/">Marinotes</a> <span class="subTitle"> | {{course}}</span></h1>
		</div>

		<div class = "head2">
			<h2>{{course}}</h2>
		</div>

		<div class="filterBar">
			<!-- Filter by teacher (like in an online store) -->
			<!-- Filter toolbar - checkboxes for teacher -->
			Filter
		</div>
		<div id="cardHolder">
			<div class = "row">
				{% for i in range(0,3) %}
				<div onclick="myFunction()" class="cardFull">
					<div class="cardTable">
						<!--The entire card should be clickable. might not be best done with link use onClick event -->
						<div class="cardPicture">
							<div class="subCardPicture">
								<img src="../static/photos/note_screenshot.jpg" class="cardPictureImg">
							</div>
						</div>
						<div class="cardInfo">
							<div class="subCardInfo">
								<div class="teacherName">
									Teacher name
								</div>
								<div class="studentName">
									Student name
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class = "row">
				{% for i in range(0,3) %}
				<div onclick="myFunction()" class="cardFull">
					<div class="cardTable">
						<!--The entire card should be clickable. might not be best done with link use onClick event -->
						<div class="cardPicture">
							<div class="subCardPicture">
								<img src="../static/photos/note_screenshot.jpg" class="cardPictureImg">
							</div>
						</div>
						<div class="cardInfo">
							<div class="subCardInfo">
								<div class="teacherName">
									Teacher name
								</div>
								<div class="studentName">
									Student name
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class = "flex-footer">
			<div>
				&#9400; 2018 Marinotes<br>Made by batman, anonIMOous and a magician.
			</div>
		</div>
	</div>
</body>
</html>
