<!DOCTYPE html>
<html>
<head>
	<title>{{course}}</title>
	<link rel = "stylesheet" type = "text/css" href = "../static/css/class.css">
	<link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
	<script type="text/javascript" src="{{url_for('static', filename='js/class.js') }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="teacherLoad();">
	<div class="indexPageSize">
		<div class = "header_class">
			<h1><a href = "/">Marinotes</a> <span class="subTitle"> | {{course}}</span></h1>
		</div>

		<div class = "head2">
			<h2>{{course}}</h2>
		</div>

		<div class="filterBar" id="filtBar">
			<!-- Filter by teacher (like in an online store) -->
			<!-- Filter toolbar - checkboxes for teacher -->
		</div>

		<!-- Holder for all cards -->
		<div id="cardHolder">
			{% for i in range(0, cards|length) %}
			<!-- Individual cards -->
			<div onclick="myFunction()" class="cardFull">
				<div class="cardTable">
					<div class="cardPicture">
						<div class="subCardPicture">
							<img src="../static/photos/note_screenshot.jpg" class="cardPictureImg">
						</div>
					</div>
					<div class="cardInfo">
						<div class="subCardInfo">
							<div class="teacherName">
								{{ cards[i][0] }}
							</div>
							<div class="studentName">
								{{ cards[i][1] }}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class = "flex-footer">
			<div>
				&#9400; 2018 Marinotes<br>Made by batman, anonIMOous and a magician.
			</div>
		</div>
	</div>
</body>
</html>
