<!DOCTYPE html>
<html style = "height: 100%;">
<head>
	<title>Marinotes</title>

	<!-- Some criptic flask shit to import HTML/CSS -->
	<link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/style.css') }}">
	<script type="text/javascript" src="{{url_for('static', filename='js/search.js') }}"></script>

	<!-- Works on mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onkeypress="enterFunction(event)" onkeydown="arrowFunction(event)">
	<div class="indexPageSize">
		<div class = "header">
			<h1>Marinotes</h1>
		</div>
		<div>
			<div class = "info">
				Marianopolis notes.<br>For you.
			</div>

			<div class = "wrap">
				<div class = "searchDiv">
					<div>
						<input type = "text" class = "searchField" id="myInput" placeholder = "Enter a class" oninput="filterFunction()" onblur="erase()" onfocus="filterFunction()">

					</div>
					<div class = "dropDown" id="dropDown">
						{% for class in classes %}
						<a class = "options" onmouseover="hi(this)" href="/class/{{class.replace(' ','')}}">{{class}}</a>
						{% endfor %}
						<a id='error_text'>No match found</a>
					</div>
				</div>
				<div class = "shareButtonWrap" id="shareBut">
					<button class = "shareButton">Share your notes</button>
				</div>
			</div>
		</div>

		<div class = "flex-footer">
			<div>
				&#9400; 2018 Marinotes<br>Made by batman, anonIMOous and a magician.
			</div>
		</div>
	</div>
</body>
</html>
