<!DOCTYPE html>
<html>
<head>
	<title>{{course}}</title>
	<link rel = "stylesheet" type = "text/css" href = "../static/css/note.css">
	<link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="indexPageSize">
		<div class="header_container">
			<div class = "header_class header">
				<h1><a href = "/" class="header_h1">Marinotes</a> <span class="subTitle"> | {{course}}</span></h1>
			</div>
		</div>

		<div class="content">
			<div>
				<img src="../static/photos/note_screenshot.jpg" class="cardPictureImg">
			</div>
			<div>
				<div class="content_h1">
					Calculus I Notes
				</div>
				<div>
					Teacher name
				</div>
				<div>
					Student name
				</div>
			</div>
		</div>
	</div>
</body>
</html>
