<!DOCTYPE html>
<html>
<head>
	<title>{{course}}</title>
	<link rel = "stylesheet" type = "text/css" href = "../static/css/share.css">
	<link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
	<script type="text/javascript" src="../static/js/cards.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="indexPageSize">
		<div class = "header_class">
			<h1><a href = "/">Marinotes</a> <span class="subTitle"> | Share</span></h1>
		</div>

		<div class = "head2">
			<h2>Share your notes</h2>
		</div>
		<div class="main">
			<h3>Rules</h3>
			Hello
		</div>
	</div>
</body>
</html>