<!DOCTYPE html>
<html>
<head>
	<title>Share</title>
	<link rel = "stylesheet" type = "text/css" href = "../static/css/share.css?version=14">
	<link rel = "stylesheet" type = "text/css" href = "../static/css/style.css?version=14">
	<script type="text/javascript" src="{{url_for('static', filename='js/share.js') }}?version=14"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onkeypress="enterFunction(event)" onload="loadFunc();">
	<div class="indexPageSize">
		<div class = "header_class">
			<h1><a href = "/">Marinotes</a> <span class="subTitle"> | Share</span></h1>
		</div>

		<div class = "head2">
			<h2>Share your notes</h2>
		</div>
		<div class="shareHead"> 🔥 Thank You 🔥</div>

		<!-- <button type="button" onclick="nextStep()" id="startButton"> Get started </button> -->
			<div class="shareBody">

			<div class="inputHolder">
				<div class="questionStyle">
					Hey 👋, my name is:
				</div>
				<div class="inputDiv">
					<div class="xBut" id="nEx" onclick="nameOld();">&#10006;</div>
					<input type="text" class="shareInput" oninput="nStep()" onfocus="nameOld();" onfocusout="nameFinal();" id="nInput" placeholder="Bob Doe">
				</div>
				 <div class="buttonHolder">
					<button type ="button" class="nextBut" disabled   onclick="nextStep()">next</button>
				</div>
			</div>
			<div class="inputHolder">
				<div class="questionStyle">
					📚 And I'm taking:
				</div>
				<div class="inputDiv">
					<div class="xBut" id="cEx" onclick="cShow()">&#10006;</div>
					<input type="text" onclick="cShow(); cEr();" oninput="cFilter(); cShow();" class="shareInput" id="cInput" placeholder="Calculus 1">
				</div>
				<div class="shareDrop" id="cDrop">
					<p onclick="cClick(this)">English</p>
					<p onclick="cClick(this)">French</p>
					<p onclick="cClick(this)">Spanish</p>
					<p onclick="cClick(this)">Russian</p>
					<p onclick="cClick(this)">donky</p>
					<p onclick="cClickNew(this)" id="cNew"></p>
				</div>
				<div class="buttonHolder">
					<button  type ="button" class="prevBut"   onclick="prevStep()">back</button>
					<button disabled type ="button" class="nextBut"   onclick="nextStep()">next</button>
				</div>
			</div>
			<div class="inputHolder">
				<div class="questionStyle">
					👨‍🎓 with:
				</div>
				<div class="inputDiv">
					<div class="xBut" id="tEx" onclick="tShow()">&#10006;</div>
					<input type="text" onclick="tShow(); tEr();" oninput="tFilter(); tShow();" class="shareInput" id="tInput" placeholder="daddy deslands">
				</div>
				<div class="shareDrop" id="tDrop">
					<p onclick="tClick(this)">egan</p>
					<p onclick="tClick(this)">burton</p>
					<p onclick="tClick(this)">vinet</p>
					<p onclick="tClick(this)">paradis</p>
					<p onclick="tClickNew(this)" id="tNew"></p>
				</div>
				<div class="buttonHolder">
					<button  type ="button" class="prevBut"   onclick="prevStep()">back</button>
					<button disabled type ="button" class="nextBut"   onclick="nextStep()">next</button>
				</div>
			</div>

			<div class="inputHolder"> <!-- added to make code more streamlined-->
			<div class="uploadHolder">

				<div class="pageDRW">
					<div class="rectHold">
						<div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div>
						<div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div>
						<div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div><div class="rectDRW"></div>
						<div class="rectDRW"></div>
					</div>

					<div class="noteTitle">Notes</div>
					<div id="noteBd" class="noteBody">
						<div style="text-align: center;">Just a couple rules:</div>
						<ul>
							<li>No tests</li>
							<li>Your own material</li>
							<li>Order your notes <br> 1. Reiman sums<br> 2. Integrals </li>
							<li>All uploads subject to moderation</li>
						</ul>
					 </div>
					 <div id='notePr' class="notePrev"></div>
					<div class="noteUpHolder">
						<label for="file1" class="uploadStyle">
							Upload Notes
						</label>
						<input oninput="inputNotes();"id="file1" type="file" accept=".pdf" multiple>
					</div>
				</div>
			</div>
			<div class="buttonHolder">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button  type ="button" class="prevBut"   onclick="prevStep()">back</button>
				<button disabled type ="button" class="nextBut"   onclick="nextStep()">done</button>
			</div>
		</div>
		</div>
	</div>
</body>
</html>
