<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Upload Test</title>
    <style>
    body {
      /* height: 100vh; */
    }
    </style>
  </head>
  <body>
    <form action="/upload-test-post" method="post" enctype="multipart/form-data">
      <input type = "file" name = "file" multiple><br>
      Course: <input type = "text" name = "course"><br>
      Teacher: <input type = "text" name = "teacher"><br>
      Author: <input type = "text" name = "author"><br>
      <input type = "submit">
    </form>
    <!-- <object data="https://s3.us-east-2.amazonaws.com/marinotes-pdfs/static/pdf/Notes/extra/5-notes.pdf" type="application/pdf" width="100%" height="100%">
  <p>Alternative text - include a link <a href="myfile.pdf">to the PDF!</a></p>
  </object> -->

  </body>
</html>
